@using Identity101.Models.Role
@model Identity101.ViewModels.ResetPasswordViewModel
<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset Password</title>
</head>
<body>
	<div>
		<h1>
			Şifreyi yenile
		</h1>
		<h3>@TempData["Message"]</h3>
		<form asp-controller="Account" asp-action="ConfirmResetPassword">
			<input type="hidden" value="@ViewBag.Code" name="Code" id="Code" />
			<input type="hidden" value="@ViewBag.UserId" name="UserId" id="UserId" />
			<label asp-for="NewPassword"></label>
			<input asp-for="NewPassword" />
			<span asp-validation-for="NewPassword"></span>
			<label asp-for="ConfirmNewPassword"></label>
			<input asp-for="ConfirmNewPassword" />
			<span asp-validation-for="ConfirmNewPassword"></span>
			<input type="submit" value="Güncelle" />
		</form>

	</div>
</body>
</html>