<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset Password</title>
</head>
<body>
	<h1>
		Reset Password
	</h1>
	<form asp-controller="Account" asp-action="ResetPassword">
		<input name="email" placeholder="Emailinizi giriniz" />
		<input type="submit" value="Şifremi sıfırla" />
	</form>
</body>
</html>